<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mik_Shipping>
            <version>0.0.1</version>
        </Mik_Shipping>
    </modules>
    <global>
        <models>
            <mshipping>
                <class>Mik_Shipping_Model</class>
            </mshipping>
        </models>
    </global>
    <default>
        <carriers>
            <mshipping>
                <active>1</active>
                <model>mshipping/carrier</model>
                <title>Mik Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
            </mshipping>
        </carriers>
    </default>
</config>